.img-dp {
  max-width: 200px;
  border-radius: 40%;
}

.products-img {
  max-width: 50px;
}

.main-action-section {
  align-items: center;
}

.icon {
  height: 40px;
  margin: 5px;
}

.margin-top {
  margin-top: 60px;
}

@media screen and (max-width: 992px) {
  .site-tittle {
    font-size: 30px;
  }
  .margin-top {
    margin-top: 5px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .site-tittle {
    font-size: 15px;
  }
  .margin-top {
    margin-top: 5px;
  }
}
